<div class="form">
  <%= form_for @post, url: locals[:form_url], html: { class: "blogForm" } do |f| %>
    <div class="header">
      <%= f.label :title %>
      <%= f.text_field :title, value: @post.title %>
    </div>

    <div class="body">
      <%= f.label :body %>
      <%= f.text_area :body, value: @post.body %>
    </div>

    <div class="controls">
      <div class="control">
        <%= f.label :status, "Draft" %>
        <%= f.radio_button :status, "draft" %>
      </div>
      <div class="control">
        <%= f.label :status, "Published" %>
        <%= f.radio_button :status, "published" %>
      </div>
    </div>

    <div class="submit">
      <%= f.submit :submit %>
    </div>
  <% end %>
</div>
